<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" as="style" onload="this.rel='stylesheet'">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="manifest" href="/manifest.json">
    {% comment %}
    <link rel="apple-touch-icon" sizes="192x192" href="/img/pwa/app-icon@192x192.png">
    <link rel="apple-touch-startup-image" media="(min-width: 320px) and (-webkit-device-pixel-ratio: 2)" href="/img/pwa/app-icon@192x192.png" />
    {% endcomment %}

    </head>
  <body>

    <a class="visually-hidden focusable skip-link" href="#main-content">Skip to content</a>
    <header role="banner" class="site-head">
      <nav class="nav">
        <ul class="nav__list">
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
      <h1 class="page-title">{{ title }}</h1>
    </header>

    <main id="main-content">
      {{ content }}
    </main>

    <footer role="contentinfo" class="site-footer">
      <div class="contents">
        Footer stuff
      </div>
    </footer>

    <script>
{% include 'partials/inline.js' %}
    </script>
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>
