/**
 * Login form
 *
 * Lives inside <dialog> element.
 */
.form--login input {
  flex-basis: 60%;
  width: 100%;

  border: 2px solid var(--dialog-button-bg);
  border-block-end-width: 0;
  border-radius: 5px 5px 0 0;
  padding: .5rem 1rem;

  text-align: center;
  font-family: Fira Code, courier new, monospace;
  font-size: 1rem;
}

.form--login input:focus {
  outline: none;
  border-color: black;
}

.form--login button {
  width: 100%;
  background: var(--dialog-button-bg);
  color: var(--dialog-button-color);

  border: 3px solid transparent;
  border-radius: 0 0 5px 5px;
  padding-block: .66rem;
  padding-inline: 1.5rem;

  font-family: Fira Code, courier new, monospace;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow:
    -0.5px -0.5px 0 rgba(0, 0, 0, 0.2),
     0.5px  0.5px 0 rgba(255, 255, 255, 0.2);
  cursor: pointer;
  white-space: nowrap;
}

.form--login button:focus {
  outline: none;
  border-color: black;
}

@media screen and (min-width: 460px) {
  .form--login {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    align-content: center;
    justify-content: flex-start;
  }

  .form--login input {
    flex-basis: 60%;
    border: 2px solid var(--dialog-button-bg);
    border-inline-end-width: 0;
    border-radius: 5px 0 0 5px;
    padding: .25rem 1rem;
    text-align: left;
  }

  .form--login input:focus {
    outline: none;
    border-width: 3px;
    border-color: black;
    padding-block: calc(.25rem - 2px);
    padding-inline: calc(1rem - 1px);
    border-inline-end: 0;
  }

  .form--login button {
    width: auto;
    flex-basis: 40%;
    border: 3px solid transparent;
    border-radius: 0 5px 5px 0;
  }
}
