.nav {}

.nav__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 -1rem;
  padding: 0;
  gap: 1rem;
}

.nav__list li {
  display: block;
  flex: 1 1 auto;
  text-align: center;
}

.nav__list li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Rockwell, monospace;
  padding: 1rem;
  background: #fff1;
}
