/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
}

a:link {
  color: #48f;
}
a:visited {
  color: #a6f;
}
a[aria-current="page"] {
  color: white;
}

p,
ul:not([class]),
ol:not([class]) {
  max-width: 70ch;
}

ul:not([class]) p,
ol:not([class]) p {
  margin: 0;
}

h1, h2, h3 {
  font-family: Rockwell, monospace;
}

figure {
  margin: 0;
  line-height: 0;
  position: relative;
}
figure figcaption {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #0008;
  padding: 1em 1.25em;
  border-radius: 8px 0 0 0;
}
figure figcaption a:link,
figure figcaption a:visited {
  color: inherit;
}

code {
  display: inline-block;
  padding: .1rem .25rem;
  margin: -.1rem 0;
  border-radius: 3px;
  border: .5px solid rgba(255, 255, 255, .25);
  font-family: monospace;
  background: #777;
  color: black;
}

blockquote {
  font-style: italic;
  position: relative;
}
blockquote::before {
  content: '"';
  font-size: 3em;
  position: absolute;
  left: -0.8em;
  top: -9px;
}
